.three-about {
	padding-top: 90px;
	background: url("../img/bg22.png") 50% 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
@media (-webkit-min-device-pixel-ratio: 2) {
	.three-about {
		background: url("../img/bg22_2x.png") 50% 0 no-repeat;
		-webkit-background-size: 90%;
		background-size: 90%;
	}
}
.about-title {
	color: #fff;
	text-align: center;
	margin-bottom: 22px;
}
.about-text {
	line-height: 1.33;
	text-align: center;
	width: 75%;
	margin: 0 auto 73px;
}
.about-list {
	margin-left: -7px;
	margin-right: -7px;
}
.about-item {
	width:16.66%;
	text-align: center;
	padding: 0 7px;
}
.about-item svg {
	height: 57px;
	margin-bottom: 17px;
}
.about-item-text {
	font-weight: 500;
	line-height: 1.33;
}
.four {
	position: relative;
	background: #f9f9fc;
	/*overflow-x: hidden;*/
}
.four:before {
	content: '';
	position: absolute;
	width:1px;
	height: 100%;
	left: 50%;
	background-color: rgba(78, 56, 162, 0.1);
}
.four-bg-prlx1 {
	position: absolute;
	right: 10%;
	top: 4%;
}
.four-bg-prlx2 {
	position: absolute;
	left: -4%;
	top: 20%;
}
.four-bg-prlx3 {
	position: absolute;
	right: -7%;
	top: 34%;
}
.four-bg-prlx4 {
	position: absolute;
	left: -6%;
	top: 54%;
}
.four-container	{
	padding-top:126px;
	padding-bottom:197px;
	position: relative;
}
.four-list {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.four-item-content {
	width: 48%;
}
.four-item-dot {
	width: 4%;
}
.four-item-img-box {
	width: 48%;
	height: 100%;
}
.four-item-dot-box {
	position: relative;
	width: 20px;
	height: 20px;
	background-color: #ece9fd;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.four-list:nth-child(odd)  .four-item-content-inner {
	padding: 0 55px 0 82px;
}
.four-list:nth-child(even) .four-item-content-inner {
	padding: 0 0 0 73px;
}
.four-content-title {
	margin-bottom: 18px;
}
.four-content-text {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 25px;
}
.four-list .btn-light-blue {
	margin-left: 10px;
}
.four-item-img-box {
	position: relative;
}
.four-item-img {
	position: absolute;
	top: 0;
}
.four-list1 {
	margin-bottom: 182px;
}
.four-list1 .four-item-img {
	left: 7%;
	-webkit-transform: translateY(-43%);
	-ms-transform: translateY(-43%);
	transform: translateY(-43%);
}
.four-list2 {
	margin-bottom: 211px;
}
.four-list2 .four-item-img {
	right: -4%;
	-webkit-transform: translateY(-45%);
	-ms-transform: translateY(-45%);
	transform: translateY(-45%);
}
.four-list3 {
	margin-bottom: 195px;
}
.four-list3 .four-item-img {
	left: 10%;
	-webkit-transform: translateY(-44%);
	-ms-transform: translateY(-44%);
	transform: translateY(-44%);
}
.four-list4 {
	margin-bottom: 200px;
}
.four-list4 .four-item-img {
	right: -10%;
	-webkit-transform: translateY(-45%);
	-ms-transform: translateY(-45%);
	transform: translateY(-45%);
}
.four-list6 {
	margin-bottom: 194px;
}
.four-list5 .four-item-img {
	left: 2%;
	-webkit-transform: translateY(-41%);
	-ms-transform: translateY(-41%);
	transform: translateY(-41%);
}
.four-list6 .four-item-img {
	right: -2%;
	-webkit-transform: translateY(-43%);
	-ms-transform: translateY(-43%);
	transform: translateY(-43%);
}
.five {
	background-color: #4e38a2;
	padding: 50px 0 16px;
	position: relative;
}
.five-title h3 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
}
.five-arrow {
	position: absolute;
	top: -28px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 66px;
	height: 66px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #4e38a2;
}
.five-arrow .svg-top_bottom-dims {
	position: absolute;
	top: 16px;
	left: 50%;
	-webkit-transform: translateX(-50%) rotate(180deg);
	-ms-transform: translateX(-50%) rotate(180deg);
	transform: translateX(-50%) rotate(180deg);
}
.five-list {
	margin-right: -10px;
	margin-left: -10px;
}
.five-item {
	position: relative;
	width: 33.33%;
	padding: 0 10px;
	margin-bottom: 39px;
}
.line-right{
	content: '';
	position: absolute;
	border-bottom: 2px dotted #fff;
	top: 20px;
	left: 10px;
	right: 10px;
}
.five-item:nth-child(3) .line-right:before {
	content: '';
	position: absolute;
	top: 0;
	height: 2px;
	left: 40px;
	right: -10px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(78, 56, 162, 0)), to(rgba(78, 56, 162, 0.9)));
	background: -webkit-linear-gradient(left, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
	background: -o-linear-gradient(left, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
	background: linear-gradient(to right, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
	/*box-shadow: inset -200px 0px 200px -100px rgba(78, 56, 162, 0.8);*/
}
.line-left {
	content: '';
	position: absolute;
	border-bottom: 2px dotted #fff;
	top: 20px;
	left: -55px;
	width: 50px;
}
.line-left:before {
	content: '';
	position: absolute;
	height: 2px;
	top: 0;
	left: 0;
	width: 50px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(78, 56, 162, 0)), to(rgba(78, 56, 162, 0.9)));
	background: -webkit-linear-gradient(right, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
	background: -o-linear-gradient(right, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
	background: linear-gradient(to left, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
}

.five-num {
	position: relative;
	display: inline-block;
	font-size: 35px;
	font-weight: 600;
	line-height: 1;
	color: #6dd8ba;
	background: #4e38a2;
	margin-bottom: 10px;
	padding-right: 10px;
}
.five-text {
	line-height: 1.25;
	color: #fff;
}
.six {
	background: #fff;
	padding: 77px 0 85px;
}
.six-title {
	text-align: center;
	margin-bottom: 45px;
}
.six-img {
	text-align: center;
	margin-bottom: 30px;
}
.six-img img {
	margin-left: 63px;
}
.six-subtitle {
	text-align: center;
	margin-bottom: 6px;
	padding-top: 72px;;
}
.six-subtitle-date{
	display: block;
	font-weight: 600;
	text-align: center;
	color: #6dd8ba;
	margin-bottom: 19px;
}
.six-period {
	margin-bottom: 48px;
}
.six-period3, .six-period4 {
	margin-bottom: 64px;
}
.period-num {
	color: #141416;
	margin-bottom: 4px;
}
.period-date {
	font-size: 25px;
	font-weight: 600;
	color: #4e38a2;
	margin-bottom: 20px;
}
.period-list {
	margin-left: -10px;
	margin-right: -10px;
}
.period-item-wrapper {
	width: 25%;
	padding: 0 10px;
}
.period-item {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #f5f5fb;
	padding: 7px 18px 10px;
	height: 100%;
}
.period-sum {
	color: #232227;
	font-weight: 600;
	letter-spacing: -0.7px;
}
.period-price {
	font-size: 25px;
	font-weight: 600;
	color: #6dd8ba;
	line-height: 1.28;
}
.period-bonus {
	color: #4f39a4;
	font-weight: 600;
}
.six-button {
	text-align: center;
	padding-top: 22px;
}
.seven {
	background: url("../img/bg3.png");
	-webkit-background-size: cover;
	background-size: cover;
	padding: 42px 0;
	position: relative;
}
/*.seven:before {*/
/*content: '';*/
/*position: absolute;*/
/*right: 10%;*/
/*background: url("../img/bg31.png") no-repeat;*/
/*height: 175px;*/
/*width: 111px;*/
/*}*/
/*.seven:after {*/
/*content: '';*/
/*position: absolute;*/
/*right: 10%;*/
/*background: url("../img/bg32.png") no-repeat;*/
/*height: 384px;*/
/*width: 217px;*/
/*}*/
.seven-list {
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.seven-text {
	font-size: 24px;
	font-weight: 600;
	color: #6dd8ba;
	margin-right: 26px;
}
.seven-form {
	width: 350px;
	position: relative;
}
.seven-form .input-field {
	background: rgba(60, 40, 135, 0.5);
}
.seven-form .btn-sbm span {
	display: none;
}
.nine {
	padding: 160px 0 240px;
	background-color: #f5f5fa;
	background: url("../img/bg4.png") 50% 113% no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2) {
	.nine {
		background: url("../img/bg4_2x.png") 50% 113% no-repeat;
	}
}
.nine-title {
	width: 60%;
	margin: 0 auto 30px;
	line-height: 1.16;
	text-align: center;
}
.nine-text {
	width: 76%;
	margin: 0 auto;
	line-height: 1.67;
	text-align: center;
	color: #2f2e32;
}
.ten {
	background: #fff;
	padding: 89px 0 90px;
}
.ten-container {
	position: relative;
}
.ten-bg-prlx1 {
	position: absolute;
	left: -10%;
	top: 20%;
}
.ten-bg-prlx2 {
	position: absolute;
	right: -10%;
	top: 50%;
}
.ten-title {
	text-align: center;
	margin-bottom: 72px;
}
.ten-list {
	position: relative;
	margin-left: -12px;
	margin-right: -12px;
}
.ten-item-wrapper {
	width: 50%;
	padding: 0 12px;
	margin-bottom: 30px;
	min-height: 280px;
}
.ten-item {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #f5f5fb;
	padding: 46px 40px 38px;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	height: 100%;
}
.ten-item:hover {
	background: #fff;
	-webkit-box-shadow: 0 19px 46px 0 rgba(38, 22, 97, 0.19);
	box-shadow: 0 19px 46px 0 rgba(38, 22, 97, 0.19);
	-webkit-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	transform: translateY(-4px);
}
.ten-top {
	position: relative;
	margin-bottom: 51px;
	padding-left: 109px;
}
.ten-img {
	position: absolute;
	left: 0;
	top: -8px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 90px;
	height: 90px;
}
.ten-name {
	font-weight: 600;
	line-height: 1.22;
	color: #4e38a2;
	margin-bottom: 7px;
}
.ten-stuff {
	line-height: 1.22;
	color: #2a2a2a;
}
.ten-soc {
	position: absolute;
	left: 111px;
	bottom: -31px;
}
.ten-link {
	margin-right: 7px;
	color: #6dd8ba;
}
.ten-item-text {
	font-size: 16px;
	line-height: 1.5;
}
.ten-text-more {
	display: inline-block;
	font-size: 14px;
	color: #453094;
	text-decoration: underline;
	cursor: pointer;
	margin-top: -4px;
}
.ten-item-text-dop {
	display: none;
	font-size: 16px;
	line-height: 1.5;
}
.eleven {
	padding: 85px 0 80px;
	background-color: #f5f5fa;
}
.eleven-title {
	text-align: center;
	margin-bottom: 46px;
}
.eleven-list {
	margin: 0 -12px 58px;
}
.eleven-item {
	background-color: #ffffff;
	padding: 59px 40px 35px
}
.eleven-item .ten-top{
	margin-bottom: 65px;
}
.eleven-item .ten-img {
	top: -22px;
}
.support-block {
	display: none;
}
.support {
	width: 66%;
	margin: 0 auto;
}
.support-item {
	margin-bottom: 26px;
}
.support-title {
	font-weight: 600;
	line-height: 1.33;
	color: #5dceae;
	text-decoration: underline;
	margin-bottom: 9px;
}
.support-text {
	font-size: 16px;
	line-height: 1.5;
}
.twelve {
	background: #fff;
	padding: 67px 0 67px;
}
.twelve-title {
	text-align: center;
	margin-bottom: 15px;
}
.acord {
	width: 66%;
	margin: 0 auto;
}
.acord-item {
	margin-bottom: 17px;
}
.acord-title {
	position: relative;
	font-weight: 600;
	color: #4e38a2;
	margin-bottom: 8px;
	cursor: pointer;
}
.accord-btn {
	position: absolute;
	left: -44px;
	width: 23px;
	height: 23px;
	background-color: #6dd8ba;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.accord-btn:after {
	position: absolute;
	content: "-";
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.accord-btn:before {
	position: absolute;
	content: "+";
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.acord-title.active .accord-btn:after {
	opacity: 1;
}
.acord-title.active .accord-btn:before {
	opacity: 0;
}

.acord-text {
	font-size: 16px;
	line-height: 1.63;
}
.acord-text p {
	margin-bottom: 10px;
}
.acord-text ul {
	list-style-type: disc;
	padding-left: 15px;
	margin: 20px 0;
}
.acord-text ol {
	padding-left: 15px;
	margin: 20px 0;
}
.acord-text li {
	margin-bottom: 10px;
}
.footer {
	background: #fff;
	border-top: 1px solid #ededf7;
	padding: 58px 0 230px;
}
.footer-list {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.footer-menu-item {
	display: inline-block;
	margin-right: 17px;
}
.footer-menu-item:last-child {
	margin-right: 0;
}
.footer-menu-link {
	font-size: 15px;
	color: #4f4388;
}
.footer-menu-link1 {
	font-size: 15px;
	color: #4f4388;
}
.footer-icons-item {
	display: inline-block;
	margin-right: 14px;
}
.footer-icons-link{
	color: #b1a8d7;
}
.footer-icons-item:last-child {
	margin-right: 0;
}
.footer-email-link {
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #6dd8ba;
}
.isr-page .four-bg-prlx1 {
	left: 15%;
	right: inherit;
}
.isr-page .four-bg-prlx2 {
	left: inherit;
	right: -4%;
}
.isr-page .four-bg-prlx3 {
	left: -7%;
	right: inherit;
}
.isr-page .four-bg-prlx4 {
	right: -6%;
	left: inherit;
}
.isr-page .period-sum {
	direction: ltr;
	text-align: right;
}
.isr-page .seven-text {
	margin-right: 0;
	margin-left:26px;
}
.isr-page .ten-img {
	right:0;
	left: inherit;
}
.isr-page .ten-top {
	padding-right: 109px;
	padding-left: 0;
}
.isr-page .ten-soc {
	right: 111px;
	left:inherit;
}
.isr-page .accord-btn {
	right: -44px;
	left: inherit;
}
.isr-page .footer-icons-item {
	margin-right: 0;
	margin-left: 14px;
}
.isr-page .footer-icons-item:last-child {
	margin-left: 0;
}
.isr-page .footer-menu-item {
	margin-left: 17px;
	margin-right: 0;
}
.isr-page .footer-menu-item:last-child {
	margin-left: 0;
}
.isr-page .five-num {
	padding-left: 10px;
	padding-right: 0;
}
.isr-page .line-left {
	right: -55px;
	left: inherit;
}
.isr-page .line-left:before {
	left: inherit;
	right: 0;
	background: -webkit-gradient(linear, left top, right top, from(rgba(78, 56, 162, 0)), to(rgba(78, 56, 162, 0.9)));
	background: -webkit-linear-gradient(left, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
	background: -o-linear-gradient(left, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
	background: linear-gradient(to right, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
}
.isr-page .five-item:nth-child(3) .line-right:before {
	right: 40px;
	left: -10px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(78, 56, 162, 0)), to(rgba(78, 56, 162, 0.9)));
	background: -webkit-linear-gradient(right, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
	background: -o-linear-gradient(right, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
	background: linear-gradient(to left, rgba(78, 56, 162, 0), rgba(78, 56, 162, 0.9));
}
.isr-page .four-container {
	padding-top: 130px;
}
.isr-page .four-list1 .four-item-img {
	left:inherit;
	right: 7%;
}
.isr-page .four-list2 .four-item-img {
	left: -4%;
	right:inherit;
}
.isr-page .four-list3 .four-item-img {
	left:inherit;
	right: 10%;
}
.isr-page .four-list6 .four-item-img {
	left: -2%;
	right: inherit;
}
.isr-page .four-list5 .four-item-img {
	right: 2%;
	left: inherit;
}
.isr-page .four-list:nth-child(even) .four-item-content-inner {
	padding: 0 73px 0 0;
}
.chn-page .four-container {
	 padding-top: 170px;
 }
.kor-page .four-container {
	padding-top: 170px;
}

@media only screen and (max-width: 1366px) {
	.four-bg-prlx4 {
		left: 0;
	}
	.four-bg-prlx2 {
		left: 0;
	}
	.four-bg-prlx3 {
		right: 0;
	}
	.ten-bg-prlx2 {
		right: 0;
	}
	.ten-bg-prlx1 {
		left: 0;
	}
}
@media only screen and (max-width: 1030px) {
	.about-title {
		margin-bottom: 14px;
	}
	.about-text {
		line-height: 1.5;
		font-size: 16px;
		width: 94%;
		margin: 0 auto 37px;
	}
	.about-list {
		margin-left: -20px;
		margin-right: -20px;
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.about-item {
		width: 27%;
		padding: 0 20px;
		margin-bottom: 50px;
	}
	.about-item svg {
		margin-bottom: 21px;
	}
	.four-bg {
		display: none;
	}
	.four-container {
		padding-top: 67px;
		padding-bottom: 68px;
	}
	.four-list:nth-child(odd)  .four-item-content-inner {
		padding: 0;
	}
	.four-list:nth-child(even) .four-item-content-inner {
		padding: 0 0 0 27px;
	}
	.four-list1 {
		margin-bottom: 65px;
	}
	.four-list1 .four-item-img {
		left: 20%;
		width: 75%;
		-webkit-transform: translateY(-48%);
		-ms-transform: translateY(-48%);
		transform: translateY(-48%);
	}
	.four-list2 {
		margin-bottom: 65px;
	}
	.four-list2 .four-item-img {
		right: 14px;
		-webkit-transform: translateY(-65%) scale(1.3);
		-ms-transform: translateY(-65%) scale(1.3);
		transform: translateY(-65%) scale(1.3);
	}
	.four-list3 {
		margin-bottom: 61px;
	}
	.four-list3 .four-item-img {
		left: 6%;
		-webkit-transform: translateY(-72%);
		-ms-transform: translateY(-72%);
		transform: translateY(-72%);
	}
	.four-list4 {
		margin-bottom: 60px;
	}
	.four-list4 .four-item-img {
		right: 3%;
		-webkit-transform: translateY(-79%) scale(1.1);
		-ms-transform: translateY(-79%) scale(1.1);
		transform: translateY(-79%) scale(1.1);
	}
	.four-list .btn-light-blue {
		margin-left: 0;
		margin-top: 12px;
	}
	.four-list6 {
		margin-bottom: 68px;
	}
	.four-list5 .four-item-img {
		left: 4%;
		-webkit-transform: translateY(-47%) scale(1.16);
		-ms-transform: translateY(-47%) scale(1.16);
		transform: translateY(-47%) scale(1.16);
	}
	.four-list6 .four-item-img {
		right: 4%;
		-webkit-transform: translateY(-55%) scale(1.16);
		-ms-transform: translateY(-55%) scale(1.16);
		transform: translateY(-55%) scale(1.16);
	}
	.five {
		padding: 60px 0 22px;
	}
	.five-item {
		width: 50%;
	}
	.line-right {
		display: none;
	}
	.line-left {
		display: none;
	}
	.six {
		padding: 58px 0 79px;
	}
	.six-title {
		margin-bottom: 36px;
	}
	.six-img {
		margin-bottom: 10px;
	}
	.six-subtitle-date {
		margin-bottom: 24px;
	}
	.period-date {
		letter-spacing: -.2px;
	}
	.six-period {
		margin-bottom: 33px;
	}
	.six-button {
		margin-top: -12px;
		padding: 0;
	}
	.period-item-wrapper {
		width: 36%;
		margin-bottom: 17px;
	}
	.seven {
		padding: 46px 0;
	}
	.seven-list {
		margin-left: 12px;
		margin-right: 12px;
	}
	.seven-text {
		margin-right: 0;
		width: 44%;
		padding: 0 15px;
		line-height: 1.2;
	}
	.seven-form {
		 width: 56%;
		padding: 0 15px;
	}
	.seven-form .btn-sbm {
		right: 17px;
	}
	.nine {
		padding: 110px 0 170px;
		-webkit-background-size: 90%;
		background-size: 90%;
	}
	.nine-title {
		width: 70%;
		margin: 0 auto 23px;
	}
	.nine-text {
		width: 88%;
	}
	.ten {
		padding: 55px 0 30px;
	}
	.ten-title {
		margin-bottom: 38px;
	}
	.ten-bg {
		display: none;
	}
	.ten-list {
		margin-left: -15px;
		margin-right: -15px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.ten-item-wrapper {
		width: 43%;
		padding: 0 15px;
		min-height:328px;
	}
	.ten-item {
		padding: 33px 15px 20px 19px;
	}
	.ten-top {
		min-height: 70px;
		padding-left: 108px;
	}
	.eleven {
		padding: 38px 0 40px;
	}
	.eleven-title {
		margin-bottom: 22px;
	}
	.eleven-list {
		margin: 0 -15px 36px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	/*.eleven-list .ten-item-wrapper {*/
		/*margin-bottom: 33px;*/
	/*}*/
	.eleven-item {
		padding: 33px 19px 26px;
	}
	.eleven-item .ten-top {
		margin-bottom: 18px;
		min-height: 80px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.eleven-item .ten-soc {
		position: static;
	}
	.eleven-item .ten-img {
		top: -11px;
	}
	.support {
		width: 84%;
	}
	.support-title {
		margin-bottom: 8px;
	}
	.twelve {
		padding: 45px 0 60px;
	}
	.acord {
		width: 85%;
	}
	.footer {
		padding: 39px 0 60px;
	}
	.footer-logo img {
		display: block;
	}
	.footer-list {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.footer-menu {
		display: none;
	}
	.footer-email {
		margin-left: 29%;
	}
	.isr-page .four-list:nth-child(even) .four-item-content-inner {
		padding: 0 27px 0 0;
	}
	.isr-page .four-list1 .four-item-img {
		right: 20%;
		left: inherit;
		-webkit-transform: translateY(-40%);
		-ms-transform: translateY(-40%);
		transform: translateY(-40%);
	}
	.isr-page .four-list2 .four-item-img {
		left: 14%;
		right:inherit;
		-webkit-transform: translateY(-45%) scale(1.3);
		-ms-transform: translateY(-45%) scale(1.3);
		transform: translateY(-45%) scale(1.3);
	}
	.isr-page .four-list3 .four-item-img {
		right: 6%;
		left: inherit;
		-webkit-transform: translateY(-43%);
		-ms-transform: translateY(-43%);
		transform: translateY(-43%);
	}
	.isr-page .four-list6 .four-item-img {
		left: 4%;
		right:inherit;
	}
	.isr-page .four-list5 .four-item-img {
		right: 4%;
		left: inherit;
	}
	.isr-page .four-list1 {
		margin-bottom: 120px;
	}
	.isr-page .four-list2 {
		margin-bottom: 100px;
	}
	.isr-page .seven-form .btn-sbm {
		left: 17px;
		right: inherit;
	}
	.isr-page .seven-text {
		margin-left: 0;
	}
	.chn-page .four-list2 .four-item-img {
		-webkit-transform: translateY(-38%) scale(1.3);
		-ms-transform: translateY(-38%) scale(1.3);
		transform: translateY(-38%) scale(1.3);
	}
	.chn-page .four-list3 .four-item-img {
		-webkit-transform: translateY(-42%);
		-ms-transform: translateY(-42%);
		transform: translateY(-42%);
	}
	.chn-page .four-list1 {
		margin-bottom: 100px;
	}
	.chn-page .four-list2 {
		margin-bottom: 100px;
	}
	.kor-page .four-list2 .four-item-img {
		-webkit-transform: translateY(-38%) scale(1.3);
		-ms-transform: translateY(-38%) scale(1.3);
		transform: translateY(-38%) scale(1.3);
	}
	.kor-page .four-list3 .four-item-img {
		-webkit-transform: translateY(-42%);
		-ms-transform: translateY(-42%);
		transform: translateY(-42%);
	}
	.kor-page .four-list1 {
		margin-bottom: 100px;
	}
	.kor-page .four-list2 {
		margin-bottom: 100px;
	}
}
@media only screen and (max-width: 767px) {
	.three-about {
		padding-top:56px;
	}
	.about-title {
		margin-bottom: 5px;
	}
	.about-text {
		margin: 0 auto 45px;
	}
	.about-list {
		margin-left: -12px;
		margin-right: -12px;
	}
	.about-item {
		width: 50%;
		padding: 0 12px;
		margin-bottom: 29px;
	}
	.about-item svg {
		margin-bottom: 10px;
	}
	.four-container {
		padding-top: 28px;
		padding-bottom: 68px;
	}
	.four:before {
		display: none;
	}
	.four-item-img {
		position: static;
		display: block;
		margin: 0 auto;
	}
	.four-item-dot {
		display: none;
	}
	.four-item-img-box {
		width: 100%;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
		text-align: center;
	}
	.four-item-content {
		width: 100%;
		-webkit-box-ordinal-group:3;
		-webkit-order:2;
		-ms-flex-order:2;
		order:2;
		text-align: center;
	}
	.four-content-title {
		line-height: 1.15;
		margin-bottom: 20px;
		font-size: 23px;
	}
	.four-content-text {
		margin-bottom: 20px;
	}
	.four-list:nth-child(even) .four-item-content-inner {
		padding: 0;
	}
	.four-item-content-inner .btn {
		width: 163px;
		margin: 0 auto;
	}
	.four-list1 {
		margin-bottom: 75px;
	}
	.four-list1 .four-item-img {
		-webkit-transform: translateX(7%);
		-ms-transform: translateX(7%);
		transform: translateX(7%);
		width: 216px;
	}
	.four-list1 .four-item-content {
		margin-top: -52px;
	}
	.four-list2 {
		margin-bottom: 52px;
	}
	.four-list2 .four-item-content {
		margin-top: 15px;
	}
	.four-list2 .four-item-img {
		-webkit-transform: scale(1.35);
		-ms-transform: scale(1.35);
		transform: scale(1.35);
		width: 280px;
	}
	.four-list3 {
		margin-bottom: 85px;
	}
	.four-list3 .four-item-img {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		width: 280px;
	}
	.four-list3 .four-item-content {
		margin-bottom: -4px;
	}
	.four-list4 {
		margin-bottom: 73px;
	}
	.four-list4 .four-item-content {
		margin-top: 9px;
	}
	.four-list4 .four-item-img {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		width: 280px;
	}
	.four-list4 .btn-light-blue {
		width: 215px;
		margin-top: 12px;
	}
	.four-list5 .four-item-content {
		margin-top: 10px;
	}
	.four-list5 .four-item-img {
		 -webkit-transform: scale(1.35);
		 -ms-transform: scale(1.35);
		 transform: scale(1.35);
		 width: 280px;
	 }
	.four-list6 .four-item-img {
		-webkit-transform: scale(1.35);
		-ms-transform: scale(1.35);
		transform: scale(1.35);
		width: 280px;
	}
	.four-list6 .four-item-content {
		margin-top: 10px;
	}
	.five-item {
		 width: 100%;
		margin-bottom: 32px;
	 }
	.five-num {
		font-size: 23px;
		margin-bottom: 4px;
	}
	.five-text {
		font-size: 16px;
		line-height: 1.38;
	}
	.six {
		padding: 43px 0 48px;
	}
	.six-title {
		margin-bottom: 22px;
	}
	.six-img {
		margin-bottom: 0;
	}
	.six-img img {
		margin-left: 0;
	}
	.six-subtitle {
		margin-bottom: 0;
	}
	.six-subtitle-date {
		margin-bottom: 20px;
	}
	.six-period {
		margin-bottom: 30px;
		text-align: center;
	}
	.period-num {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.period-date {
		font-size: 18px;
		line-height: 1.33;
		margin-bottom: 16px;
		letter-spacing: 0.2px;
	}
	.period-list {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.period-item-wrapper {
		width: 257px;
		margin-bottom: 11px;
	}
	.six-button {
		margin-top: 0;
	}
	.seven {
		padding: 40px 0 50px;
	}
	.seven-text {
		width: 100%;
		padding: 0;
		text-align: center;
		font-size: 23px;
		margin-bottom: 16px;
	}
	.seven-form {
		width: 250px;
		padding: 0;
	}
	.seven-form .btn-sbm {
		width:inherit;
		-webkit-border-radius: 22px;
		border-radius: 22px;
		position: static;
		margin-top: 10px;
	}
	.seven-form .btn-sbm span {
		display: inline-block;
	}
	.seven-form .input-field {
		background: rgba(60, 40, 135, 0.7);
	}
	.nine {
		padding: 44px 0 84px;
		background-position: 50% 105%;
	}
	.nine-title {
		font-size: 23px;
		width: 100%;
		line-height: 1.2;
		margin-bottom: 18px;
	}
	.nine-text {
		width: 100%;
		font-size: 16px;
		line-height: 1.5;
	}
	.ten {
		padding: 46px 0 38px;
	}
	.ten-title {
		margin-bottom: 16px;
	}
	.ten-item-wrapper {
		width: 100%;
		margin-bottom: 20px;
	}
	.ten-top {
		padding-left: 107px;
	}
	.ten-item {
		padding: 33px 15px 27px 19px;
	}
	.eleven {
		padding: 27px 0 17px;
	}
	.eleven-title {
		margin-bottom: 17px;
	}
	.eleven-list {
		margin: 0 -15px 20px;
	}
	.support {
		width: 100%;
	}
	.support-item {
		margin-bottom: 30px;
	}
	.twelve {
		padding: 45px 0 46px;
	}
	.twelve-title {
		margin-bottom: 22px;
	}
	.acord-title {
		font-size: 16px;
		line-height: 1.25;
	}
	.acord-text {
		font-size: 14px;
		line-height: 1.3;
	}
	.acord {
		width: inherit;
		margin-left: 31px;
	}
	.acord-item {
		margin-bottom: 20px;
	}
	.accord-btn {
		left: -33px;
	}
	.footer {
		padding: 41px 0;
	}
	.footer-logo {
		width: 100%;
		margin-bottom: 16px;
	}
	/*.footer-icons {*/
		/*margin-right: 30px;*/
	/*}*/
	.footer-icons-link {
		display: inline-block;
		vertical-align: middle;
	}
	.footer-email {
		margin-left: 0;
	}
	.isr-page .acord {
		margin-right: 31px;
		margin-left: 0;
	}
	.isr-page .accord-btn {
		right: -33px;
		left: inherit;
	}
	.isr-page .four-container {
		 padding-top: 30px;
	}
	.isr-page .four-list1 {
		 margin-bottom: 75px;
	}
	.isr-page .four-list2 {
		margin-bottom: 52px;
	}
	.isr-page .four-list1 .four-item-img {
		-webkit-transform: translateY(-2%);
		-ms-transform: translateY(-2%);
		transform: translateY(-2%);
	}
	.isr-page .four-list2 .four-item-img {
		-webkit-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
	}
	.isr-page .four-list3 .four-item-img {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.isr-page .period-sum {
		text-align: center;
	}
	.chn-page .four-container {
		padding-top: 40px;
	}
	.chn-page .four-list2 .four-item-img {
		-webkit-transform: inherit;
		-ms-transform: inherit;
		transform: inherit;
	}
	.chn-page .four-list3 .four-item-img {
		-webkit-transform: inherit;
		-ms-transform: inherit;
		transform: inherit;
	}
	.chn-page .four-list1 {
		margin-bottom: 30px;
	}
	.chn-page .four-list2 {
		margin-bottom: 50px;
	}
	.kor-page .four-container {
		padding-top: 40px;
	}
	.kor-page .four-list2 .four-item-img {
		-webkit-transform: inherit;
		-ms-transform: inherit;
		transform: inherit;
	}
	.kor-page .four-list3 .four-item-img {
		-webkit-transform: inherit;
		-ms-transform: inherit;
		transform: inherit;
	}
	.kor-page .four-list1 {
		margin-bottom: 30px;
	}
	.kor-page .four-list2 {
		margin-bottom: 50px;
	}
}





.enter-form .b-form__header {
	font-size: 20px;
	margin-bottom: 30px;
	font-weight: 600;
	line-height: 1.22;
	color: #4e38a2;
}
.enter-form .col {
	width: 100%;
}
.enter-form .btn-sbm {
	position: relative;
	right:inherit;
	top: inherit;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	height: 50px;
}
.enter-form .input-field {
	background: transparent;
	width: 100%;
	border: 2px solid #6dd8ba;
	margin-bottom: 20px;
	color: #1b1729;
	-webkit-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}
.enter-form .input-field:focus {
	border: 2px solid #4f39a4;
}