.svg-copy-dims {
	width: 412.9px;
	height: 510.3px;
}

.svg-denied-dims {
	width: 142.3px;
	height: 99.7px;
}

.svg-done-tick-dims {
	width: 490.4px;
	height: 490.4px;
}

.svg-download_arrow-dims {
	width: 142.3px;
	height: 99.7px;
}

.svg-green-arrow-dims {
	width: 142.3px;
	height: 99.7px;
}

.svg-purple_arrow-dims {
	width: 142.3px;
	height: 99.7px;
}

.svg-red-arrow-dims {
	width: 142.3px;
	height: 99.7px;
}

.svg-restore-dims {
	width: 441.4px;
	height: 394.1px;
}

