<?xml version="1.0" encoding="windows-1251"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product
        Name="BitCoen Wallet"
        Manufacturer="BitCoen"
        Version="1.0.0"
        Id="0aaa88b8-7d37-4a7f-ab62-74cb7343cc35"
        UpgradeCode="5d4be0a5-a670-4354-ac05-345ceb71093c"
        Language="1033"
        Codepage="1251"
        >

        <Package
            Id="*"
            Keywords="Installer"
            Description="BitCoen Wallet Installer"
            Manufacturer="BitCoen"
            InstallerVersion="200"
            Languages="1033"
            Compressed="yes"
            SummaryCodepage="1251"
            />

        <Media
            Id="1"
            Cabinet="Data.cab"
            EmbedCab="yes"
            />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLDIR" Name="BitCoenWallet">
                    <Directory Id="ELECTRONDIR" Name="BitcoenWallet-win32-x64" />
                    <Directory Id="COREDIR" Name="core" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="BitCoen Wallet" />
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <DirectoryRef Id="ProgramMenuDir">
            <Component Id="ProgramMenuDir" Guid="18ca70c1-c5f5-4d09-a221-75a3092268cb">
                <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                    Type="string" Value="" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <?include files.wxi ?>

        <DirectoryRef Id="ELECTRONDIR">
            <Component Id="BitcoenWallet.exe" Guid="a4ff1140-3095-11e8-9e56-485b390a253f">
                <File Id="BitcoenWallet.exe"
                    Name="BitcoenWallet.exe"
                    Source="..\..\build\BitcoenWallet-win32-x64\BitcoenWallet.exe"
                    KeyPath="yes">
                    <Shortcut
                        Id="StartMenuBitCoen"
                        Directory="ProgramMenuDir"
                        Name="BitCoen Wallet"
                        WorkingDirectory="ELECTRONDIR"
                        Icon="icon.exe"
                        IconIndex="0"
                        Advertise="yes"
                        />
                    <Shortcut
                        Id="DesktopBitCoen"
                        Directory="DesktopFolder"
                        Name="BitCoen Wallet"
                        WorkingDirectory="ELECTRONDIR"
                        Icon="icon.exe"
                        IconIndex="0"
                        Advertise="yes"
                        />
                </File>
            </Component>
        </DirectoryRef>

        <Icon Id="icon.exe" SourceFile="..\..\build\BitcoenWallet-win32-x64\resources\app\logo.ico" />
        <Property Id="ARPPRODUCTICON" Value="icon.exe" />

        <UI Id="WixUI_InstallDir">
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="InstallDir" />
            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
            <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>
            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>

        <UIRef Id="WixUI_Common" />

        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    </Product>

</Wix>
